.create-post-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  transform: translateX(-50%);
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.create-post-wrapper .create-post-form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}

.create-post-wrapper .create-post-form > .input {
  height: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--secondary-background);
  border: none;
  color: var(--text);
  resize: none;
}

.create-post-wrapper .create-post-form > .input:last-of-type {
  height: 7rem;
}

.create-post-wrapper .create-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: var(--background);
  width: 75vw;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 var(--primary);
  padding: 2rem;
}

.create-post-wrapper .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: var(--text);
  background-color: var(--secondary-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-post-wrapper .close-btn:hover {
  background-color: var(--accent);
}

.create-post-wrapper .close-btn:active {
  background-color: var(--primary);
}

.create-post-wrapper .icon-btn {
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
  border: none;
  border-radius: 1rem;
  color: var(--text);
  font-size: 1rem;
  align-self: flex-start;
  transition: all 200ms ease-in;
  position: relative;
  left: -20px;
}

.create-post-wrapper .icon-btn > .icon {
  transform: translateX(5px);
}

.create-post-wrapper .icon-btn:hover {
  width: 10rem;
}

.create-post-wrapper .icon-btn::after {
  content: "";
  transition: all 300ms 200ms;
  scale: 0;
}

.create-post-wrapper .icon-btn:hover::after {
  display: flex;
  content: "Load Draft";
  scale: 1;
}

.create-post-wrapper .icon-btn:active {
  background-color: var(--accent);
}

.create-post-wrapper .btn-wrapper {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  gap: 1rem;
}

.create-post-wrapper .btn-wrapper > button {
  width: 100%;
  height: 3rem;
  border-radius: 1rem;
  background-color: var(--primary);
  font-size: 1rem;
  transition: 300ms all;
}

.create-post-wrapper .btn-wrapper > button:hover {
  background-color: var(--secondary);
}

.create-post-wrapper .btn-wrapper > button:active {
  background-color: var(--accent);
}

.create-post-wrapper .images {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.create-post-wrapper .images > div {
  height: 100%;
  flex-shrink: 0;
  position: relative;
}

.create-post-wrapper .images > div > .image {
  object-fit: cover;
  height: 100%;
  width: auto;
  max-height: 200px;
}

.create-post-wrapper .images > div > .img-btn {
  position: absolute;
  z-index: 2;
  right: 0.2rem;
  top: 0.2rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  opacity: 0;
  transition: all 200ms;
}

.create-post-wrapper .images > div:hover > .img-btn {
  opacity: 1;
}

@media only screen and (max-width: 500px) {
  .create-post-wrapper .create-post-container {
    width: 100%;
    height: 100%;
  }
}
