.home-page {
  justify-content: center;
  display: flex;
}

.home-page > .content {
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

@media only screen and (max-width: 767.5px) {
  .home-page > .content {
    flex-flow: column nowrap;
  }
}
