.post-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.post-wrapper .post-main {
  max-width: 730px;
  flex-grow: 1;
  padding: 1rem;
  z-index: 3;
}

.post-wrapper .post-cont {
  background-color: var(--secondary-background);
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  position: relative;
}

.post-wrapper .post-cont::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  content: "";
  display: block;
  left: 0;
  top: -100%;
  z-index: 1;
}
