.main-nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  background: var(--background);
}

.ctas {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  padding: 10px;
}

.login-btn {
  border: 1px solid var(--border);
  padding: 12px;
  width: 100px;
  border-radius: 10px;
  background-color: var(--primary);
  color: white;
  font-size: 1rem;
  font-weight: 800;
  font-family: "cabin";
  text-transform: uppercase;
  cursor: pointer;
}
