.msg-input-form {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.chat-wrapper {
  height: 100%;
}
.chat-wrapper .top {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  padding: 1rem;
  gap: 0.5rem;
  overflow: scroll;
  height: calc(100% - 3rem);
}

.chat-wrapper .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
}

.msg-input-form > input {
  height: 3rem;
  border-radius: 2rem;
  flex-grow: 1;
  background-color: var(--secondary-background);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  color: var(--text);
  transition: all 200ms ease-in-out;
}
.msg-input-form > button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg-input-form > button:hover {
  background-color: var(--accent);
}

.msg-input-form > button:active {
  background-color: var(--secondary);
}

.chat-wrapper .top .chat-bubble {
  background-color: var(--secondary-background);
  padding: 1rem;
  border-top: 1px solid var(--background);
  width: 100%;
}

.chat-wrapper .top .chat-bubble .timestamp {
  font-size: 0.8rem;
  display: none;
  text-align: right;
  transform: translateY(10px);
  color: var(--secondary-text);
}

.chat-wrapper .left-bubble,
.chat-wrapper .right-bubble {
  display: flex;
  flex-flow: column nowrap;
  max-width: 60%;
}

.chat-wrapper .left-bubble {
  align-items: flex-start;
  align-self: flex-start;
}

.chat-wrapper .top .chat-bubble:not(:only-child) {
  min-width: none;
}

.chat-wrapper .top .left-bubble > .chat-bubble:first-child {
  border-radius: 0 1rem 0 0;
  border: none;
}

.chat-wrapper .top .chat-bubble:last-child {
  border-radius: 0 0 1rem 1rem;
  border-top: 1px solid var(--background);
}

.chat-wrapper .top .chat-bubble:last-child .timestamp {
  display: block;
}

.chat-wrapper .top .left-bubble > .chat-bubble:only-child {
  border-radius: 0 1rem 1rem 1rem;
}
.chat-wrapper .top .left-bubble > .chat-bubble:only-child .timestamp {
  display: block;
}

.chat-wrapper .top .right-bubble {
  align-self: flex-end;
  align-items: flex-end;
}

.chat-wrapper .top .right-bubble > .chat-bubble {
  background-color: var(--primary);
}

.chat-wrapper .top .right-bubble > .chat-bubble:first-child {
  border-radius: 1rem 0 0 0;
  border: none;
}

.chat-wrapper .top .right-bubble > .chat-bubble:only-child {
  border-radius: 1rem 0 1rem 1rem;
}

.chat-wrapper .top .right-bubble > .chat-bubble:only-child .timestamp {
  display: block;
}

.chat-wrapper .top .right-bubble .timestamp {
  color: rgb(223, 195, 255);
}
