@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./stylesheets/form.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #16161d;
  --secondary-background: #1f1f29;
  --secondary-text: #9696bf;
  --text: white;
  --primary: #7b00ff;
  --border: #2d2d2d;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Cabin";
}

h1 {
  font-size: 2.2rem;
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--text);
  text-transform: capitalize;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Cabin";
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

span,
p {
  font-size: 1.1rem;
  line-height: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

a {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: gray;
}

ul {
  display: inline;
}

li {
  list-style: none;
}
